@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kalam:wght@300;400;700&family=Lobster&family=Pacifico&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0d1a2d !important;
}
#nameOfPerson{
  font-family: Dancing Script;
}
nav {
  background-color: #051129;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
}
.navbar {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1;
}
.navbar-brand, .nav-link {
  color: white !important;
}
/* Home Section Started ================================================================================== */
#homeSection{
  display: flex;
  justify-content: center;
  align-items: center;
}
#homaeKaText{
  width: 50%;
  height: 600px;
  /* border: 1px solid black; */
  padding-top: 40px;
}
#homaeKaLogo{   
  width: 50%;
  height: 600px;
  /* border: 1px solid black; */
}
h1{
  color: white !important;
}
span{
  color: #7FFFD4;
}
p{
  color: white;
}
/* From Uiverse.io by javierBarroso */ 
.social-login-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  -webkit-box-reflect: below 5px linear-gradient(transparent, #00000055);
}
.social-login-icons svg {
  width: 40px;
}

.social-icon-1,
.social-icon-1-1,
.social-icon-2,
.social-icon-2-2,
.social-icon-3,
.social-icon-3-3,
.social-icon-4,
.social-icon-4-4 {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin: 20px 0 0px 0;
}

.icon svg {
  fill: #fff;
}

.socialcontainer {
  height: 80px;
  overflow: hidden;
}
.social-icon-1 {
  transition-duration: 0.4s;
  background-color: rgb(0, 0, 0);
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
}
.social-icon-1 svg,
.social-icon-2 svg,
.social-icon-3 svg,
.social-icon-4 svg {
  opacity: 0;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
}
.social-icon-1-1 {
  transition-duration: 0.4s;
  background-color: rgb(0, 0, 0, 0);
}
.socialcontainer:hover .social-icon-1 {
  transform: translateY(-70px);
}
.socialcontainer:hover .social-icon-1 svg,
.socialcontainer:hover .social-icon-2 svg,
.socialcontainer:hover .social-icon-3 svg,
.socialcontainer:hover .social-icon-4 svg {
  opacity: 1;
}
.social-icon-2 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  background: linear-gradient(
    72.44deg,
    #ff7a00 11.92%,
    #ff0169 51.56%,
    #d300c5 85.69%
  );
}
.socialcontainer:hover .social-icon-2 {
  transform: translateY(-70px);
}
.social-icon-3 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  background: #316ff6;
}

.socialcontainer:hover .social-icon-3 {
  transform: translateY(-70px);
}
.social-icon-4 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);

  background: linear-gradient(
    180deg,
    rgba(129, 34, 144, 1) 0%,
    rgba(77, 34, 124, 1) 91%
  );
}

.socialcontainer:hover .social-icon-4 {
  transform: translateY(-70px);
}
/* From Uiverse.io by ShadowShahriar */ 
#btn {
  margin-top: 30px;
  --border-radius: 15px;
  --border-width: 4px;
  appearance: none;
  position: relative;
  padding: 1em 2em;
  border: 0;
  background-color: #212121;
  font-family: "Roboto", Arial, "Segoe UI", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  z-index: 2;
}

#btn::after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--border-width);
  border-radius: var(--border-radius);
  background-image: conic-gradient(#488cfb,
          #29dbbc,
          #ddf505,
          #ff9f0e,
          #e440bb,
          #655adc,
          #488cfb);
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  -webkit-mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 500ms infinite;
  animation-play-state: paused;
}

#btn:hover::after {
  animation-play-state: running;
}

@keyframes rotate-hue {
  to {
      filter: hue-rotate(1turn);
  }
}

#btn,
#btn::after {
  box-sizing: border-box;
}

#btn:active {
  --border-width: 5px;
}
#logo{
  position: absolute;
  top: 5px !important;
  margin-left: 30px !important;
}
/* Home Section Ended ================================================================================== */

/* About Section Started ======================================================================== */
#aboutSection{
  margin-top: 30px !important;
  height: 350px;
  width: 800px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}
#textDiv{
  height: 350px;
  width: 50%;
  /* border: 1px solid black; */
}
#profileImg{
  height: 350px;
  width: 50%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#hamza{
  border-radius: 50%;
  height: 300px;
  width: 300px;
}
/* About Section Ended ======================================================================== */


/* Services Section Started ======================================================================== */
.services{
  height: auto;
  width: auto;
  /* border: 1px solid black; */
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#HtmlCssDiv{
  height: 300px;
  width: 300px;
  /* border: 1px solid black; */
  border-radius: 25px;
  margin: 50px;
  box-shadow: 1px 1px 20px #012290f7,
      1px 1px 25px #0053b8f7;
  transition: 1.2s;
}
#HtmlCssDiv:hover{
  transform: translate(-20px);
}
#jsLogic{
  height: 300px;
  width: 300px;
  /* border: 1px solid black; */
  border-radius: 25px;
  margin: 50px;
  box-shadow: 1px 1px 20px #012290f7,
      1px 1px 25px #0053b8f7;
  transition: 1.2s;
}
#jsLogic:hover{
  transform: translate(-20px);
}
#datahandling{
  height: 300px;
  width: 300px;
  /* border: 1px solid black; */
  border-radius: 25px;
  margin: 50px;
  box-shadow: 1px 1px 20px #012290f7,
      1px 1px 25px #0053b8f7;
  transition: 1.2s;
}
#datahandling:hover{
  transform: translate(-20px);
}

/* Services Section Ended ======================================================================== */

/* Skills Section Started ======================================================================== */
.skills {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.container1 {
  width: 590px;
  height: 500px;
  padding: 75px 90px;
  /* margin-left: 120px; */
}

.heading1 {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  margin-bottom: 50px;
}

.bar {
  font-size: 23px;
}

.technical-bar .bar {
  margin-top: 40px 0;
}

.technical-bar .bar:first-child {
  margin-top: 0;
}

.technical-bar .bar:last-child {
  margin-bottom: 0;
}

.technical-bar .bar .info {
  margin-bottom: 5px;
}

.technical-bar .bar .info span {
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}

.technical-bar .bar .progress-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: #000000;
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}

.technical-bar .bar .progress-line span {
  height: 100%;
  background-color: #0ef;
  position: absolute;
  border-radius: 10px;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

.progress-line.html span {
  width: 98%;
}
.progress-line.css span {
  width: 90%;
}

.progress-line.typeScript span {
  width: 80%;
}

.progress-line.python span {
  width: 85%;
}

.progress-line.dataAnalysis span {
  width: 87%;
}

.progress-line.sql span {
  width: 20%;
}

.progress-line span::after {
  position: absolute;
  padding: 1px 8px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  top: -28px;
  right: -20px;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}

.progress-line.html span::after {
  content: "98%";
}
.progress-line.css span::after {
  content: "90%";
}
.progress-line.typeScript span::after {
  content: "85%";
}
.progress-line.python span::after {
  content: "90%";
}
.progress-line.dataAnalysis span::after {
  content: "87%";
}

.progress-line span::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  top: -10px;
  right: 0;
  animation: showText 0.5 1.5 linear forwards;
  opacity: 0;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.radial-bars {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 100px;
}

.radial-bars .radial-bar {
  width: 50%;
  height: 170px;
  margin-bottom: 10px;
  position: relative;
}

.radial-bars .radial-bar svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 120px;
  height: 160px;
}

.radial-bars .radial-bar .progress-bar {
  stroke-width: 10;
  stop-color: black;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
  animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
  100% {
    stroke-dashoffset: -1;
  }
}

.path {
  stroke-width: 10;
  stroke: #0ef;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
}

.path-1 {animation: animate-path1 1s 1s linear forwards;}
.path-2 {animation: animate-path2 1s 1s linear forwards;}
.path-3 {animation: animate-path3 1s 1s linear forwards;}

@keyframes animate-path1 {
  100% {
    stroke-dashoffset: 50;
  }
}

@keyframes animate-path2 {
  100% {
    stroke-dashoffset: 95;
  }
}

@keyframes animate-path3 {
  100% {
    stroke-dashoffset: 95;
  }
}

.radial-bar .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}

.radial-bar .text {
  width: 100%;
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50px);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}
/* Skills Section Ended ======================================================================== */
/* Project Section Started ======================================================================== */
#projects{
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px !important;
  height: auto;
  width: auto;
  margin: auto;
}
#latestProject{
  margin-top: 100px !important;
}
.project{
  height: 300px;
  width: 450px;
  border: none;
  margin: 30px;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 1px 20px #012290f7, 1px 1px 25px #0053b8f7;
}
.project img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.layer {
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #f0f8ff;
  padding: 20px;
  transition: bottom 0.3s ease-in-out;
  border-radius: 25px;
}

.project:hover .layer {
  bottom: 0;
}
#goUrl{
  display: flex;
  justify-content: center;
  align-items: center;
}
#linkBtn{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #0d1a2d;
  border: none;
}
/* Project Section Ended ======================================================================== */
footer {
  background-color: #051129;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
footer  p {
  color: wheat;
}




/* Media Queries ============================================================================================= */

@media screen and (min-width:0) and (max-width:1000px) {
  #homaeKaLogo{
      display: none;
  }
  #homaeKaText{
      width: 100% !important;
  }
  #profileImg{
      display: none;
  }
  #textDiv{
      width: 100% !important;
  }
  #btnDiv{
      display: flex;
      justify-content: center;
      align-items: center;
  }
}